MONGO_URI=mongodb+srv://<username>:<password>@cluster0.pwaxgrw.mongodb.net/cs2_inventory?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=sua_chave_secreta_aqui_min_32_caracteres
PORT=3000
RENDER_EXTERNAL_URL=http://localhost:3000
